<%- layout("/layouts/boilerplate.ejs") %>
<div class="show-page">
    <div class="col-8 offset-3">
        <h3><b><i>Listing Details</i></b></h3>
    </div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%=listing.image.url%>" alt="listing_image" class="card-img-top show-img">
        <div class="card-body">
            <div class="card-text">
                <b><%=listing.title%></b><br>
                <%=listing.description%> <br>
                <%=(listing.price ?? 0).toLocaleString("en-IN")%> <br>
                <%=listing.location%> <br>
                <%=listing.country%>
                <div class="show-btn mt-2">
                    <form action="/listings/<%=listing._id%>/edit" method="get">
                        <button class="btn btn-info">edit</button>
                    </form>
                    <form action="/listings/<%=listing._id%>?_method=delete" method="post">
                        <button class="btn btn-danger">delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>